<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/cache https://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- Enable autowire -->
    <context:annotation-config/>
    <context:component-scan base-package="com.example.jkpvt"/>
    <!-- /Enable autowire -->

    <!-- Enable JPA repositories -->
    <jpa:repositories base-package="com.example.jkpvt"/>
    <!-- /Enable JPA repositories -->

    <!-- Enable caching -->
    <cache:annotation-driven/>
    <!-- /Enable caching -->

    <!-- Importing other configuration files -->
    <import resource="classpath:DatabaseContextFile.xml"/>

    <!-- EntityManagerFactory bean definition -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.example.jkpvt"/>
        <property name="persistenceProviderClass" value="org.hibernate.jpa.HibernatePersistenceProvider"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="format_sql">false</prop>
                <prop key="hibernate.transaction.jta.platform">
                    org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform
                </prop>

                <!-- EhCache configuration -->
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.cache.region.factory_class">
                    org.hibernate.cache.jcache.internal.JCacheRegionFactory
                </prop>
                <prop key="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</prop>
                <prop key="hibernate.javax.cache.uri">classpath:XMLConfiguration/ehCache.xml</prop>
                <prop key="hibernate.javax.cache.missing_cache_strategy">create</prop>

                <!-- Envers configuration -->
                <prop key="org.hibernate.envers.Audited">false</prop>
                <prop key="hibernate.integration.envers.enabled">false</prop>
                <prop key="org.hibernate.envers.audit_table_suffix">_AUD</prop>
                <prop key="org.hibernate.envers.store_data_at_delete">true</prop>

                <!-- Enable lazy loading without transaction -->
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
            </props>
        </property>
    </bean>

    <!-- JdbcTemplate Bean -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- Transaction manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Enable annotation-based transaction management -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- CacheManager bean definition -->
    <bean id="cacheManager" class="org.springframework.cache.jcache.JCacheCacheManager">
        <constructor-arg ref="jCacheManager"/>
    </bean>

    <bean id="jCacheManager" class="org.springframework.cache.jcache.JCacheManagerFactoryBean">
        <property name="cacheManagerUri" value="classpath:XMLConfiguration/ehCache.xml"/>
    </bean>

    <!-- Register the GsonHttpMessageConverter -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter">
                <property name="gson" ref="gson"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
</beans>